<div id="<%= dom_id product %>" class="bg-sky-500 p-5 rounded" product-price = "<%= product.price%>">
  <div class="flex justify-between">
    <p class="my-5 text-xl font-bold product-name-<%=product.id%>">
      <%= product.name %>
    </p>

  </div>

  <p class="my-5">
    <strong class="block font-medium mb-1" >Code:</strong>
    <%= product.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= product.price %>
  </p>
  

  <% if action_name != "show" %>
    <div class="flex">
      <%= link_to "Show product", product, class: "rounded-lg py-3 px-5 bg-green-100 inline-block font-medium" %>
      <%= link_to 'Edit product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-yellow-100 inline-block font-medium" %>
    </div>
    <hr class="mt-6">
    <button class = "add-to-basket-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" data-controller="product" data-action="click->product#handleClick" product = "<%= product.id%>" >
      + Add to basket
    </button>
  <% end %>
</div>
